.navbar {
    background-color: #001e43;
}

.logo-title {
    color: #fff;
    font-size: 2.5rem;
}

.right-nav {
    margin: 0 0 0 auto;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-button,
.register-button,
.mypage-button,
.logout-button {
    font-weight: 600;
    color: #fff;
}

.login-button a,
.register-button a,
.mypage-button a,
.logout-button a {
    color: #fff;
    padding: 12.75px 12px;
}

.register-button,
.logout-button {
    margin-left: 1rem;
}

