.word-list {
    background-color: #001e43;
    width: 230px;
    height: 700px;
    overflow: scroll;
    margin-top: 80px;
    border: 10px solid;
}

.word-list::-webkit-scrollbar {
    display: none;
}

.word-select {
    background-color: #fff;
    width: 210px;
    height: 50px;
    margin-bottom: 10px;
    list-style: none;
}

.word {
    line-height: 50px;
    text-align: center;
}

.word-small {
    line-height: 50px;
    text-align: center;
    font-size: 12px;
}

.main-word-area {
    margin-top: 80px;
}

.title-name {
    margin: 0;
    font-size: 10rem;
}

.title-name-small {
    margin: 0;
    font-size: 4.5rem;
}

.main-word {
    background-color: #fff;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border: solid;
}
.word-mean p,
.prg-exm p {
    text-align: center;
    padding: 15px 0;
}

.prg-exm {
    margin-top: 50px;
}

.number {
    font-size: 10px;
    width: 18px;
    color: #001e43;
    float: left;
}

#txt-hide{
    display: none;
    text-align: center;
}

#prg-hide{
    display: none;
    text-align: center;
    position: relative;
    bottom: 10px;
}

#example-hide{
    display: none;
    background-color: rgb(54, 69, 73);
}

p.more {
    background-color: #001e43;
    color: #fff;
    transition: .1s;
    -erbkit-transition: .1s;
}

p.prg-more {
    background-color: #001e43;
    color: #fff;
    transition: .1s;
    -erbkit-transition: .1s;
}

p.prg-example {
    background-color: #001e43;
    color: #fff;
    transition: .1s;
    -erbkit-transition: .1s;
}
    
p.more::after {
    content: "意味を見る";
    transition: .1s;
    -erbkit-transition: .1s;
}

p.more.on-click::after{
    content: "閉じる";
}

p.prg-more::after {
    content: "プログラミングの使い方を見る";
    transition: .1s;
    -erbkit-transition: .1s;
}

p.prg-more.on-click::after{
    content: "閉じる";
}

p.prg-example::after {
    content: "例を見る";
    transition: .1s;
    -erbkit-transition: .1s;
}

p.prg-example.on-click::after{
    content: "閉じる";
}
pre code {
    color: rgb(227, 227, 227);
}

.code-block {
    color: rgb(227, 227, 227);
    background-color: rgb(54, 69, 73);
}

.bookmark-icon {
    position: relative;
    left: 650px;
    bottom: 60px;
    font-size: 50px;
    z-index: 1;
}

.liked {
    color: pink;
}

.login-link {
    color: #000;
}

.login-link:hover {
    color: #000;
}

/* スマホ用のcss */
@media (max-width: 450px) {
    .word-list {
        order: 1;
    }

    .title-name,
    .title-name-small {
        margin: 0;
        font-size: 25px;
    }

    .main-word {
        background-color: #fff;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px;
        border: solid;
    }

    .bookmark-icon {
        position: relative;
        left: 290px;
        bottom: 40px;
        font-size: 30px;
        z-index: 1;
    }

    .prg-exm {
        margin-top: 20px;
    }

    .word-list {
        background-color: #001e43;
        width: 230px;
        height: 210px;
        overflow: scroll;
        border: 10px solid;
        margin: 20px auto 0 auto;
    }

    .word-select {
        background-color: #fff;
        width: 210px;
        height: 30px;
        margin-bottom: 10px;
        list-style: none;
    }

    .word,
    .word-small {
        line-height: 30px;
        text-align: center;
    }
}