.word-list {
    background-color: #001e43;
    width: 230px;
    height: 700px;
    overflow: scroll;
    margin-top: 80px;
    border: 10px solid;
}

.word-list::-webkit-scrollbar {
    display: none;
}

.word-select {
    background-color: #fff;
    width: 215px;
    height: 50px;
    margin-bottom: 10px;
    list-style: none;
}

.word {
    line-height: 50px;
    text-align: center;
}

.word-small {
    line-height: 50px;
    text-align: center;
    font-size: 12px;
}

.main-word-area {
    background-color: #fff;
    width: 300px;
    height: 300px;
    margin-top: 80px;
    border: solid;
}

.title-name {
    margin-top: 20px;
    font-size: 10rem;
}

.title-name-small {
    margin-top: 20px;
    font-size: 4.5rem;
}
.main-word {
line-height: 255px;
color: black;
display: flex;
justify-content: center;
align-items: center;
}


.word-mean {
    background-color: cornsilk;
    margin-top: 50px;
}

.word-mean p {
    text-align: center;
    padding: 15px 0;
}

.number {
    font-size: 10px;
    width: 18px;
    color: #001e43;
    float: left;
}

#txt-hide{
    display: none;
    text-align: center;
}

#prg-hide{
    display: none;
    text-align: center;
    position: relative;
    bottom: 10px;
}

#example-hide{
    display: none;
    background-color: rgb(54, 69, 73);
}

p.more {
    background-color: #001e43;
    color: #fff;
    transition: .1s;
    -erbkit-transition: .1s;
}

p.prg-more {
    background-color: #001e43;
    color: #fff;
    transition: .1s;
    -erbkit-transition: .1s;
}

p.prg-example {
    background-color: #001e43;
    color: #fff;
    transition: .1s;
    -erbkit-transition: .1s;
}
    
p.more::after {
    content: "意味を見る";
    transition: .1s;
    -erbkit-transition: .1s;
}

p.more.on-click::after{
    content: "閉じる";
}

p.prg-more::after {
    content: "プログラミングの使い方を見る";
    transition: .1s;
    -erbkit-transition: .1s;
}

p.prg-more.on-click::after{
    content: "閉じる";
}

p.prg-example::after {
    content: "例を見る";
    transition: .1s;
    -erbkit-transition: .1s;
}

p.prg-example.on-click::after{
    content: "閉じる";
}
pre code {
    color: rgb(227, 227, 227);
}

.code-block {
    color: rgb(227, 227, 227);
    background-color: rgb(54, 69, 73);
}

.bookmark-icon {
    position: absolute;
    left: 1000px;
    top: 300px;
    font-size: 50px;
    z-index: 1;
}