.title-logo {
    padding-top: 100px;
    font-size: 4rem;
}

.name-form,
.mail-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.name-label,
.mail-label{
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.left_side {
    margin-top: 80px;
}

.word-list {
    margin-top: 30px;
}

.bookmark {
    width: 400px;
    margin: 0 auto;
}

.bookmark a{
    width: 400px;
}

.bookmark button{
    display: block;
    margin: auto;
    margin-top: 80px;
    height: 50px;
    width: 400px;
    color: #fff;
    border: solid;
    border-radius: 5px;
    background-color: #001e43;
}

